.storeItemsSection {
  background-color: var(--primary-dark-blue);
  padding: 2em;
}
.storeItemsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
  padding: 2em 0em;
}
.storeItemsSection h1 {
  font-size: 1.4rem;
  font-weight: 300;
  color: var(--primary-white);
}
.storeItemCard {
  display: flex;
  flex-direction: column;
  min-width: 26em;
  gap: 1em;
}
.storeItemCardImage {
  position: relative;
}
.storeItemCardImage img {
  display: flex;
  width: 100%;
}
.storeItemImage {
  height: 34.3em;
}
.toggleFavoriteBtn {
  position: absolute;
  width: 2em;
  border: none;
  background-color: transparent;
  cursor: pointer;
  right: 1em;
  top: 1em;
}
.storeItemCardDetails {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.storeItemCardDetails h2,
.storeItemCardDetails span {
  color: var(--primary-white);
  font-size: 1.2rem;
  font-weight: 300;
  font-size: 1.2rem;
}

.storeItemCardDetails span {
  justify-self: flex-end;
}

/* STORE ITEM */
.storeItemSection {
  display: flex;
  background-color: var(--primary-dark-blue);
  padding: 4em;
  gap: 4em;
}
.storeItemMainImage {
  width: 35em;
  height: 40em;
}
.storeItemDetails {
  display: flex;
  max-width: 37em;
  flex-direction: column;
  gap: 1.2em;
}
.storeItemDetails h2 {
  font-size: 1rem;
  font-weight: 400;
  color: var(--primary-white);
}
.storeItemDetails a {
  opacity: 0.6;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  text-decoration: none;
}
.storeItemDetails a:hover {
  opacity: 1;
}
.storeItemDetails h1 {
  font-size: 1.8rem;
  color: var(--primary-white);
  font-weight: 300;
}
.storeItemDetails p,
.storeItemDetails span,
.storeItemDetails li,
.storeItemDetails ul {
  color: var(--primary-white);
  font-weight: 400;
}

.storeItemSizes {
  display: flex;
  gap: 3em;
}
.storeItemSize {
  list-style-type: none;
  opacity: 0.6;
  transition: 0.3s ease-in-out;
}
.storeItemSizes li:hover {
  opacity: 1;
}
.storeItemSizeSelected {
  opacity: 1;
  border-bottom: 1px solid var(--primary-white);
}

.storeItemSizes button {
  border: none;
  background-color: transparent;
  color: var(--primary-white);
  cursor: pointer;
  font-size: 1rem;
}

.loginBtn {
  display: flex;
  padding: 1.2em;
  justify-content: center;
  border: 1px solid var(--primary-white);
  border-radius: 0.5em;
  background-color: transparent;
  cursor: pointer;
  color: var(--primary-white);
  font-size: 1rem;
  opacity: 0.7;
  transition: 0.3s ease-in-out;
  margin-top: 1em;
}
.loginBtn:hover {
  opacity: 1;
}

.storeItemDelivery {
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-size: 0.8rem;
}
.storeItemDelivery img {
  width: 1.5em;
  filter: invert(1);
}

.storeItemSizeBtn .selected {
  background-color: var(--primary-white);
}

@media (max-width: 1440px) {
  .storeItemsContainer {
    grid-template-columns: repeat(4, 1fr);
  }

  .storeItemImage {
    height: 25em;
  }
  .storeItemCardImage img {
    width: 100%;
  }
  .storeItemCard {
    min-width: 15em;
  }
}
@media (max-width: 1024px) {
  .storeItemsContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .storeItemsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
  .storeItemMainImage {
    width: 25em;
    height: 30em;
  }
  .storeItemSection {
    justify-content: space-between;
    padding: 2em;
  }
  .storeItemDetails {
    max-width: 40em;
  }
}
@media (max-width: 425px) {
  .storeItemsContainer {
    grid-template-columns: repeat(1, 1fr);
    gap: 1em;
  }
  .storeItemsSection h1 {
    font-size: 1.2rem;
  }
  .storeItemSection {
    flex-direction: column;
  }
  .storeItemMainImage {
    height: 28em;
  }
}
