.navbar {
  background-color: var(--primary-dark-blue);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.3em;
  position: relative;
}

.navbarLinks {
  display: flex;
  gap: 2em;
  list-style-type: none;
}

li h3 {
  font-weight: 400;
  font-size: 1rem;
}

li a {
  text-decoration: none;
}

li a:visited {
  color: var(--primary-white);
}

li a:hover {
  border-bottom: 2px solid var(--primary-white);
}

.logo {
  position: absolute;
  width: 3em;
  filter: var(--primary-gold-icon);
  transition: 0.3s ease-in-out;
  left: 48%;
}

.logo:hover {
  filter: var(--primary-white-icon);
}

.socialLinks {
  display: flex;
  align-items: center;
  gap: 1em;
}
.socialLinks h3 {
  font-weight: 400;
  color: var(--primary-white);
}

.socialsIcon img {
  max-width: 1em;
  filter: invert();
}
.socialsIcon {
  padding: 1em;
  border: none;
  background-color: transparent;
}
