.navbar {
  background-color: var(--primary-dark-blue);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em;
  position: relative;
}

.navbarLinks {
  display: flex;
  gap: 2em;
  list-style-type: none;
  width: 20em;
}

li h3 {
  font-weight: 400;
  font-size: 1rem;
}

li a {
  opacity: 0.6;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

li a:visited {
  color: var(--primary-white);
}

li a:hover {
  opacity: 1;
}

.logo {
  width: 3em;
  filter: var(--primary-gold-icon);
  transition: 0.3s ease-in-out;
}

.logo:hover {
  filter: var(--primary-white-icon);
}

.socialLinks {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.5em;
  width: 20em;
}
.socialLinks h3 {
  font-size: 1rem;
  font-weight: 400;
  color: var(--primary-white);
}

.socialsIcon {
  width: 1.4em;
  filter: var(--primary-white-icon);
  cursor: pointer;
  transition: 0.3s ease-in-out;
  opacity: 0.6;
}
.socialsIcon:hover {
  opacity: 1;
}

.cartBtn {
  border: none;
  background-color: transparent;
  position: relative;
}
.cartItemCount {
  bottom: 5em;
  right: 2em;
  position: absolute;
  padding: 0.1em 0.5em;
  background-color: var(--primary-red);
  color: var(--primary-white);
  border-radius: 2em;
  font-size: 0.7em;
}

/* @media (max-width: 425px) {
     
} */
