.cartSidebar {
  width: 30em;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-dark-blue);
  padding: 1em 2em 2em 2em;
  position: fixed;
  right: 0;
  z-index: 5;
}

.storeNav,
.storeCartTotalPrice {
  border-bottom: 1px solid var(--primary-white);
  padding: 1.5em 0 1.5em 0;
}

.backBtn {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.backBtn img {
  width: 2em;
  filter: var(--primary-white-icon);
}
.backBtn span,
.storeCartItems span,
.checkoutBtn,
.storeCartItemsEmpty span {
  font-size: 1rem;
  color: var(--primary-white);
}
.shopNowBtn,
.checkoutBtn {
  background-color: transparent;
  text-decoration: none;
  color: var(--primary-white);
  cursor: pointer;
  opacity: 0.7;
  transition: 0.3s ease-in-out;
}
.shopNowBtn:hover,
.checkoutBtn:hover {
  opacity: 1;
}

.storeCartItems {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--primary-white);
}

.shopNowBtn,
.checkoutBtn {
  display: flex;
  padding: 1.2em;
  justify-content: center;
  width: 100%;
  border: 1px solid var(--primary-white);
  border-radius: 0.5em;
  margin-top: 3em;
}

/* SIDEBAR CART */
.cartItem {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--primary-white);
  padding: 1.5em 0;
}
.cartItemInfo {
  display: flex;
  gap: 1em;
}
.cartItemInfo img {
  width: 6.8em;
  height: 9.4em;
  object-fit: cover;
}
.cartItemDetails {
  display: flex;
  flex-direction: column;
  gap: 0.9em;
}
.cartItemDetails span {
  font-size: 0.85em;
}
.cartItemPrice span,
.cartItemDetails h2,
.storeCartTotalPrice span,
.storeCartTotalPrice h2 {
  font-size: 1.1rem;
  color: var(--primary-white);
  font-weight: 400;
}

.storeCartTotalPrice {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.removeItem {
  border: none;
  background-color: transparent;
  font-size: 0.8em;
  color: var(--primary-white);
  cursor: pointer;
  width: fit-content;
  opacity: 0.7;
  transition: 0.3s ease-in-out;
}
.removeItem:hover {
  opacity: 1;
}

.storeCartItemsEmpty {
  padding: 1.5em 0 0 0;
}

@media (max-width: 1024px) {
  .cartSidebar {
    width: 28em;
    overflow-y: auto;
  }
}

@media (max-width: 768px) {
  .cartSidebar {
    width: 26em;
  }
}

@media (max-width: 425px) {
  .cartSidebar {
    width: 100%;
    left: 0;
    right: 0;
    z-index: 1000;
    box-sizing: border-box;
  }
}
