@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter';
}

:root {
  --primary-dark-blue: #15161a;
  --primary-white: #ffffff;
  --primary-red: #5e1021;
  --primary-gold: #85652b;

  --primary-gold-icon: brightness(0) saturate(100%) invert(36%) sepia(62%)
    saturate(461%) hue-rotate(0deg) brightness(96%) contrast(86%);
  --primary-white-icon: brightness(0) saturate(100%) invert(100%) sepia(0%)
    saturate(25%) hue-rotate(70deg) brightness(108%) contrast(108%);
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}
